
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
   margin-bottom: 20px;
text-align: center;
color: #000000;
font-size: 48px;
}

section {
   
    padding: 20px;
    width: 90%;
}

p {
    
   
    clear: right;
}

div {
   
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.subject_1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -2px 0px;
    font-size: 120%;
    font-weight: bold;
    border: 4px solid black;
    text-align: center;
    
    background-color: #FFB6C1;

}

.subject_2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 4px solid black;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    background-color: #FF0000;

}

.subject_3 {
    color: black;
    float: right;
    width: 100px;
    margin: -3px -3px 0px;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
    border: 4px solid black;
    text-align: center;
    background-color: rgb(217, 205, 99);

}

.content {
    padding: 5px;
    border: none;
    background-color: gray;
    color: black;
    margin: 3px ;
    height: 148px;
    overflow: auto;
    font-family: Helvetica;
}

.row {
    width: 90%;
}

/*desktop_version*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet_version*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile_version*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}